body{
  background-color: yellow;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-radius:0;
  border-color: black;
  border-width: 5px;
  width:5%;
}
/*
h2{
  color: grey;
}*/
